{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Main Navigation -->
<div class="p-3 text-center bg-white border-bottom">
    <div class="container">
        <div class="row gy-3">
            <!-- Left Elements -->
            <div class="col-lg-2 col-sm-4 col-4">
                <a href="#" target="_blank" class="float-start">Logo</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}