{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid h-100 bg-image">
</div>
    <!-- <div class="row h-100"> </div> -->
<div class="col-7 col-md-6 my-auto card mb-3 border-0" id="cover-text">
    <h2 class="display-4 logo-font text-black">
        Quality Frozen Products
    </h2>
    <div class="my-5">
        <h4>
            <a href="{% url 'products' %}" class="buy-now-button bg-success btn btn-lg rounded-0 text-uppercase py-3">Buy Now</a>
        </h4>
    </div>
</div>

<!-- Footer -->
<footer class="bg-secondary" style="position: fixed;bottom: 0;width: 100%;">
    <div class="m-0 text-center text-black">
      <h5 class="uppercase general-sub">KBOA Foods</h5>
      <ul class="list-inline social-links text-center text-black"> Follow us:
          <li class="list-inline-item">
              <a target="_blank" href="https://www.facebook.com">
                  <i class="fab fa-facebook" aria-hidden="true"></i>
                  <span class="sr-only">Facebook</span>                         
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.twitter.com">
                  <i class="fab fa-twitter" aria-hidden="true"></i>
                  <span class="sr-only">Twitter</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.linkedin.com">
                  <i class="fab fa-linkedin" aria-hidden="true"></i>
                  <span class="sr-only">LinkedIn</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.pinterest.com">
                  <i class="fab fa-pinterest" aria-hidden="true"></i>
                  <span class="sr-only">Pinterest</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.instagram.com">
                  <i class="fab fa-instagram" aria-hidden="true"></i>
                  <span class="sr-only">Instagram</span>
              </a>
          </li>
          <li class="list-inline-item">
              <a target="_blank" href="https://www.youtube.com">
                  <i class="fab fa-youtube" aria-hidden="true"></i>
                  <span class="sr-only">Youtube</span>
              </a>
          </li>
      </ul>
  </div> 
  </footer>
    
{% endblock %}

