<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item ">By Rating</a>
                <a href="#" class="dropdown-item ">By Category</a>
                <a href="#" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="poultry-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chicken
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Chicken wings</a>
                <a href="#" class="dropdown-item">Boneless chicken</a>
                <a href="#" class="dropdown-item">Smoked Chicken</a>
                <a href="#" class="dropdown-item">All Chicken</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beef-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beef Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item">Minced meat</a>
                <a href="#" class="dropdown-item">Pomo</a>
                <a href="#" class="dropdown-item">All Beef</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="sea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sea Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">Crabs</a>
                <a href="#" class="dropdown-item">Prawns</a>
                <a href="#" class="dropdown-item">Shrimps</a>
                <a href="#" class="dropdown-item">All Sea Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">Titus</a>
                <a href="#" class="dropdown-item">Croaker</a>
                <a href="#" class="dropdown-item">Tilapia</a>
                <a href="#" class="dropdown-item">All Fish</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="meat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meat Share
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">Goat Meat</a>
                <a href="#" class="dropdown-item">Cow Meat</a>
                <a href="#" class="dropdown-item">Ram Meat</a>
                <a href="#" class="dropdown-item">Share Meat</a>
            </div>
        </li>
    </ul>
</div>