<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="chicken-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chicken
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="chicken-link">
                <a href="{% url 'products' %}?category=chicken_wings" class="dropdown-item">Chicken Wings</a>
                <a href="{% url 'products' %}?category=chicken_drumsticks" class="dropdown-item">Chicken Drumsticks</a>
                <a href="{% url 'products' %}?category=boneless_chicken" class="dropdown-item">Boneless chicken</a>
                <a href="{% url 'products' %}?category=smoked_chicken" class="dropdown-item">Smoked Chicken</a>
                <a href="{% url 'products' %}?category=chicken,chicken_wings,chicken_drumsticks,boneless_chicken,smoked_chicken" class="dropdown-item">All Chicken</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beef-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beef Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beef-link">
                <a href="{% url 'products' %}?category=stewing_beef" class="dropdown-item">Stewing Beef</a>
                <a href="{% url 'products' %}?category=shaki" class="dropdown-item">Shaki</a>
                <a href="{% url 'products' %}?category=minced_meat" class="dropdown-item">Minced Meat</a>
                <a href="{% url 'products' %}?category=pomo" class="dropdown-item">Pomo</a>
                <a href="{% url 'products' %}?category=stewing_beef,shaki,minced_meat,meat,pomo" class="dropdown-item">All Beef</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="seafood-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sea Food
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="seafood-link">
                <a href="{% url 'products' %}?category=crabs" class="dropdown-item">Crabs</a>
                <a href="{% url 'products' %}?category=prawns" class="dropdown-item">Prawns</a>
                <a href="{% url 'products' %}?category=shrimps" class="dropdown-item">Shrimps</a>
                <a href="{% url 'products' %}?category=crabs,prawns,shrimps" class="dropdown-item">All Sea Food</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fish-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fish
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fish-link">
                <a href="{% url 'products' %}?category=titus_fish" class="dropdown-item">Titus</a>
                <a href="{% url 'products' %}?category=croaker_fish" class="dropdown-item">Croaker</a>
                <a href="{% url 'products' %}?category=tilapia_fish" class="dropdown-item">Tilapia</a>
                <a href="{% url 'products' %}?category=titus_fish,croaker_fish,tilapia_fish,fish" class="dropdown-item">All Fish</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meat-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meat Share
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meat-link">
                <a href="{% url 'products' %}" class="dropdown-item">Goat Meat</a>
                <a href="{% url 'products' %}" class="dropdown-item">Cow Meat</a>
                <a href="{% url 'products' %}" class="dropdown-item">Ram Meat</a>
                <a href="{% url 'products' %}" class="dropdown-item">Share Meat</a>
            </div>
        </li>
    </ul>
</div>